* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't add to the width/height */
  font-family: "Open Sans", sans-serif;
}

.top-background {
  background-color: #ffffff;
}

.details-button {
  display: none;
  position: relative;
  font-weight: bold;
  left: 83.4%;
  top: 35px;
  width: 190px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: #00b62a;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 1002; /* Higher than the popup content */
  position: absolute; /* Ensure it's positioned relative to the popup */
  left: 470px;
}

.details-button:hover {
  background-color: #00a727;
}

.close-btn:hover,
.close-btn:focus {
  color: #00a727;
  text-decoration: none;
  cursor: pointer;
}

.table-details {
  position: fixed;
  border: 5px solid black;
  width: 500px;
  height: 350px;
  margin: auto;
  border-radius: 10px;
  z-index: 1000;
  cursor: move;
  overflow: hidden; /* Hide overflow from pseudo-element */
}

.table-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9d3;
  filter: blur(5px);
  z-index: -1; /* Ensure it's behind the content */
}

.vehicle-info-name,
.vehicle-info-info {
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  z-index: 1; /* Above the pseudo-element */
}

/* -----------------------------------------------*/

.caption-for-available-table {
  position: relative;
  left: 320px;
  top: 100px;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.temp-available {
  width: 50%;
  position: relative;
  left: 70px;
  top: 100px;
  height: 600px;
  overflow-y: auto;
  text-align: center;
  background-color: white; /* Assuming the table container's background is white */
  padding-bottom: 10px; /* Add padding to contain the shadows */
}

.available-loads-table {
  width: 98%;
  margin-left: 0;
  border-collapse: separate; /* Ensures that the cells have space for the box-shadow */
  border-spacing: 0; /* Removes the default spacing between cells */
}

.available-loads-table thead {
  height: 60%;
  background-color: #000000;
  color: #ffffff;
}

.available-loads-table thead th {
  position: sticky;
  top: 0; /* This ensures the header sticks to the top of the table scroll area */
  z-index: 10; /* This ensures the header stays on top of other content when scrolling */
  background-color: #000000; /* Reapply background color to ensure readability */
  color: #ffffff;
}

.available-loads-table td th {
  padding-top: 5px; /* Space on top of cell content */
  padding-bottom: 5px; /* Space on bottom of cell content */
}

.help2,
.help1 {
  border: 2px solid black;
  background-clip: padding-box; /* Prevents background from spilling into the box-shadow */
  height: 60px;
  transition: transform 0.3s ease, border-width 0.3s ease;
}

.help1 {
  height: 50px;
}

/* If the table background isn't white, match the box-shadow color to the actual background */
.temp-available {
  background-color: white; /* Assuming the table container's background is white */
}

.help2:hover {
  color: #00b62a; /* Your existing hover text color */
  transform: scale(1.05); /* Scales the row to 105% of its original size */
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  border-width: 3px; /* Increase the border width when hovered */
}

.available-loads-table td,
.available-loads-table th {
  padding-top: 5px; /* Space on top of cell content */
  padding-bottom: 5px; /* Space on bottom of cell content */
  /* Add padding to the left and right to ensure content does not touch the borders */
  padding-left: 10px;
  padding-right: 10px;
}

.notifications ul {
  display: flex;
  flex-direction: column;
}

.notifications li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: center;
  width: 90%;
  border: 2px solid black;
  margin-top: 5px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: auto;
}

.notifications::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: ("react/loadboard/public/images/trucks2.png");
  background-position: center;
  background-size: cover;
  filter: grayscale(1) blur(5px);
  z-index: -1;
}

.notifications {
  position: relative;
  top: -575px;
  bottom: 600px;
  left: 815px;
  border: 2px solid black;
  height: 625px;
  width: 40%;
  overflow-y: scroll;
  border-radius: 15px;
}

.notifications li {
  width: 85%;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  color: #00b62a;
}

.notifications li:hover,
.available-loads li:hover {
  background-color: #00b62a;
  color: #ffffff;
}

.bgimage {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.bgimage::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: ("react/loadboard/public/images/trucks3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.carriers {
  position: relative;
  top: 16rem;
  margin-bottom: 75px;
  height: 410px;
  width: 80%;
  left: 10%;
  overflow-y: auto;
  border-radius: 7px;
}

.carrier-table-head {
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 10;
}

.carriers table {
  position: relative;
  width: 100%;
}

.carriers table tr:hover {
  color: white;
  background-color: rgb(40, 193, 40) !important;
  transform: scale(1.02); /* Scales the row to 105% of its original size */
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
}

.carriers table tr:nth-of-type(even) {
  background-color: rgba(230, 230, 230, 0.2);
}
.carriers table tr:nth-of-type(odd) {
  background-color: rgba(208, 208, 208, 0.7);
}

.carriers table tr {
  width: 100%;
  height: 10px;
  text-align: center;
  color: black;
}

.carrier-table-head {
  text-align: center;
  color: #ffffff;
}

.newCarrier {
  text-align: center;
}

.slogan {
  text-align: center;
  font-size: 35px;
  margin-top: 5%;
  margin-bottom: -15%;
  font-weight: bold;
  color: #000000;
}

.mdb-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 2%;
  width: fit-content;
  padding: 0;
  left: 213%;
  top: 230px;
  background-color: white;
  border-radius: 4px;
}

.select-trucker {
  font-size: 16px;
  border-radius: 4px;
  width: 250px;
  background-color: white;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100px;
  background-color: #00b62a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  height: 36px;
}

.search-icon {
  font-size: 14px;
}

.search-button:hover {
  background-color: rgb(24, 166, 24);
  border: 0.5px solid black;
  transform: scale(1.04); /* Scales the row to 105% of its original size */
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
}
