* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.top-background {
  background-color: #ffffff;
}

.details-button {
  display: none;
  position: relative;
  font-weight: bold;
  left: 83.4%;
  top: 35px;
  width: 190px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: #00b62a;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 1002;
  position: absolute;
  left: 470px;
}

.details-button:hover {
  background-color: #00a727;
}

.close-btn:hover,
.close-btn:focus {
  color: #00a727;
  text-decoration: none;
  cursor: pointer;
}

.table-details {
  position: fixed;
  border: 5px solid black;
  width: 500px;
  height: 350px;
  margin: auto;
  border-radius: 10px;
  z-index: 1000;
  cursor: move;
  overflow: hidden;
}

.table-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9d3;
  filter: blur(5px);
  z-index: -1;
}

.vehicle-info-name,
.vehicle-info-info {
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

/* -----------------------------------------------*/

.back-button {
  position: relative;
  background-color: #00b62a;
  right: 130px;
  top: 70px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  font-weight: bold;
}

.back-button:hover {
  transform: scale(1.04); /* Scales the row to 105% of its original size */
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  background-color: #00a426
}


.caption-for-available-table {
  position: relative;
  left: 45%;
  top: 130px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
  z-index: 4;

}

.temp-available {
  width: 100%;
  position: relative;
  left: 70px;
  top: 65px;
  border: 3px solid #00b62a;
  height: 630px;
  overflow-y: auto;
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 3;
}

.available-loads-table {
  width: 98%;
  margin-top: 50px;
  margin-left: 0;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  z-index: 3;
}

.available-loads-table thead {
  height: 60%;
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
}

.available-loads-table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #000000;
  color: #ffffff;
}

.available-loads-table td th {
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 3;
}

.help2,
.help1 {
  border: 2px solid black;
  background-clip: padding-box;
  height: 60px;
  transition: transform 0.3s ease, border-width 0.3s ease;
}

.help1 {
  height: 50px;
}

.help2:nth-of-type(even) {
  background-color: rgb(249, 249, 249);
}

.help2:nth-of-type(odd) {
  background-color: rgb(246, 246, 246);
}

.temp-available {
  background-color: white;
}

.help2:hover {
  color: #00b62a;
  transform: scale(1.03);
  transition: transform 0.3s ease;
  border-width: 3px;
}

.available-loads-table td,
.available-loads-table th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


.notif-table {
  position: relative;
  width: 98%;
  
}

.notif-table thead tr {
  text-align: center;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 15px;
}

.notif-table tbody tr {
  text-align: center;
  height: 60px;
  left: 0;
  right: 0;
  overflow: hidden;
  color: black;
}

.notif-table tbody tr:hover {
  color: #00b62a;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.notif-table tbody tr:nth-of-type(even) {
  background-color: rgb(249, 249, 249);
}

.notif-table tbody tr:nth-of-type(odd) {
  background-color: rgb(246, 246, 246);
}

.notifications {
  margin-top: 50px;
  position: relative;
  border: 3px solid #00b62a;
  height: 630px;
  width: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  left: 150px;
  z-index: 3;
  background-color: white;
  color: black;
  overflow-x: hidden;
  top: 65px;
}

.notifications h2 {
  position: relative;
  left: 35%;
  top: 12px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
  z-index: 4;
}

.bgimage {
  position: relative;
  min-height: 110vh;
  overflow: hidden;
  z-index: 1;
}

.bgimage::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../public/images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.helpme {
  position: relative;
  margin-left: auto;
  margin-right: -75%;
  width: 150%;
}

.carriers {
  position: absolute;
  top: 20rem;
  margin-bottom: 0%;
  height: 450px;
  /* width: 110% !important;
  left: -5%; */
  width: 65%;
  left: 17.5%;
  overflow-y: auto;
  border-radius: 7px;
  border: 2px solid black;
}

.carrier-table-head {
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 10;
}

.carriers table {
  position: relative;
  width: 100%;
}

.carriers table tr:hover {
  color: white;
  background-color: rgb(40, 193, 40) !important;
}

.carriers table tr:nth-of-type(even) {
  background-color: rgba(230, 230, 230, 0.2);
}
.carriers table tr:nth-of-type(odd) {
  background-color: rgba(208, 208, 208, 0.7);
}

.carriers table tr {
  width: 100%;
  height: 10px;
  text-align: center;
  color: black;
}

.carrier-table-head {
  text-align: center;
  color: #ffffff;
}

.newCarrier {
  text-align: center;
}

.slogan {
  text-align: center;
  font-size: 50px;
  top: 60px;
  margin-bottom: -15%;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.highlight {
  color: #00b62a;
}

.mdb-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 2%;

  width: fit-content;
  padding: 0;
  left: 213%;
  top: 230px;
  background-color: white;
  border-radius: 4px;
}

.select-trucker {
  font-size: 16px;
  border-radius: 4px;
  width: 250px;
  background-color: white;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100px;
  background-color: #00b62a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  height: 36px;
}

.search-icon {
  font-size: 14px;
}

.search-button:hover {
  background-color: rgb(24, 166, 24);
  border: 0.5px solid black;
  transform: scale(1.04); /* Scales the row to 105% of its original size */
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
}
